---
import '../styles/custom.scss';
import '../styles/styles.css';
import '../styles/swipe.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Rhymance web application" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	</head>
	<body class="bg-body">
		<slot />
		<script>
			import '../scripts/main.js';
			import '../scripts/swipe.js';
		</script>
	</body>
</html>
