# Firebase App Client configurations
EXPO_PUBLIC_USE_EMULATORS=true
EXPO_PUBLIC_FIREBASE_API_KEY=mock-api-key-for-local-emulator
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=rhymance-dev.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=rhymance-dev
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=rhymance-dev.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1234567890
EXPO_PUBLIC_FIREBASE_APP_ID=1:1234567890:web:abcdef123456
